#cloud-config
package_update: true
packages:
  - curl

runcmd:
  - |
    until curl -k https://${server_ip}:6443; do
      echo "Waiting for K3s Server..."
      sleep 10
    done
  - curl -sfL https://get.k3s.io | K3S_URL=https://${server_ip}:6443 K3S_TOKEN=${k3s_token} sh -
